.button{
  margin: 10px 10px;
  padding: 3px 10px;
  border: 2px solid #AA96DA;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #AA96DA;
  background: white;
  //list-style-type: none;
}